html
  font-size: 14px

.landing-wrapper
  position: absolute
  top: 0
  left: 0
  background-color: #fff
  z-index: 10
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 4fr 0.5fr
  grid-template-areas: "header header header" "main main main" "footer footer footer"      
  header
    grid-area: header
    text-align: center
    height: 100%
    font-size: 2rem
    color: #ffffff
    background-color: darken(grey, 20%)
    display: grid
    h1
      display: block
      align-self: center
      margin: 0
  main
    border: 1px solid
    border-color: yellow
    grid-area: main
    display: grid
    grid-template-columns: 2fr 4fr
    grid-template-areas: "aside image image" "aside image image" "examples examples examples"
    text-align: center
    background-color: lighten(grey, 20%)
    aside
      display: grid
      grid-area: aside
      h2
        display: block
        align-self: center
        margin: 0
        font-size: 3rem
        color: darken(white, 80%)
      .create
        width: 150px
        height: 40px
        background-color: yellow
        border-radius: 35px
        border: none
        margin: auto
        color: darken(grey, 20%)
        font-size: 1.5em
        transition: 0.3s ease
        &:hover
          background-color: darken(yellow, 10%)
          color: lighten(grey, 60%)
          cursor: pointer
          outline: none
        &:focus
          outline: none
    .image
      padding: 25px
      grid-area: image
      img
        border: 1px solid
        border-color: yellow
        width: 800px
    .examples
      grid-area: examples
      display: flex
      justify-content: space-around
      background-color: darken(grey, 20%)
      border: 1px solid
      border-color: yellow
      img
        height: 200px
        width: 200px
        display: block
  footer
    grid-area: footer
    background-color: lighten(grey, 20%)
    .contacts
      font-size: 2em
      margin: auto
      width: 300px
      color: darken(white, 80%)
      text-align: center
      a
        color: #fff
        text-decoration: none
        color: darken(white, 80%)
        font-weight: bold

