
.container
    display: grid
    grid-template-columns: 2fr 6fr 2fr
    height: 500px

.menu
    background-color: #666
    display: grid
    grid-template-columns: 40% 60%

.tools
    align-self: center  
    display: grid
    grid-template-columns: repeat(2 ,48px)
    grid-gap: 5px
    justify-content: center
    .pen
        background-image: url('./img/icons.png')
        background-position: -182px -92px
    .color-select
        background-image: url('./img/icons.png')
        background-position: -274px 0px
    .paint-bucket
        background-image: url('./img/icons.png')
        background-position: -228px -92px
    .eraser
        background-image: url('./img/icons.png')
        background-position: -46px -228px

.tools > *
    background-color: lighten(#666, 10%)
    width: 46px
    height: 46px
    justify-self: center
    border: 2px solid
    border-color: lighten(#666, 20%)
    &:hover
        background-color: lighten(#666, 30%)
        border: 2px solid
        border-color: yellow

.palette
    background-color: grey
    position: relative
    padding: 10px
    height: 720px
    .canvas-container
      position: absolute
      left: calc(50% - 352px)
      canvas
          display: block
          position: absolute
          background-repeat: repeat
      .canvas-overlay
        z-index: 9
      .canvas-drawing 
        z-index: 1
        background-image: url('./img/canvas_bg.png')



.preview
    background-color: #666